* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}


h1 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 auto 10px;
  width: 85%;
}

p {
  color: grey;
  margin: 0 auto;
  width: 85%;
}

.main-sq {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  margin: 50px auto;
  text-align: center;
  width: 300px;
  height: 450px;
}

.qr {
  border-radius: 10px;
  margin: 20px auto;
  width: 85%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
